* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

body {
    font-family: cursive;
}

html {
    scroll-behavior: smooth;
}

/*  */
.kolch {
    display: flex;
    flex-direction: row;
}

/* start header */
.header {
    background-color: white;
    width: 300px;
    height: 100vh;
    transform: translateX(-300%);
    position: fixed;
    transition: all 0.5s linear;
    z-index: 4;
}

@media (min-width: 992px) {
    .header {
        transform: translateX(0);
    }
}

.header .photo {
    width: 120px;
    margin: 20px 15px 30px;

}

.header .photo img {
    width: 100%;
    border-radius: 10px;
}

.header>i {
    font-size: 55px;
    position: absolute;
    right: 20px;
    top: 30px;
    padding: 10px 15px;
}

@media (min-width: 992px) {
    .header>i {
        display: none;
    }
}

.header>i:hover {
    background-color: #ddd;
    transform: scale(1.2);
}

.header h2 {
    font-weight: 500;
    margin: 10px;
}

.header p {
    margin: 20px 10px;
    color: #777;
    font-size: 17px;
}

.header p sub {
    font-size: 20px;
}

.header ul {
    display: flex;
    flex-direction: column;
}

.header ul li a {
    display: block;
    padding: 10px;
    font-size: 18px;
    font-weight: normal;
    transition: all 0.5s linear;
}

.header ul li a i {
    margin: 0 7px;
}

.header ul li a:hover {
    background-color: #eee;
    padding-left: 20px;
}

.green {
    color: #009688;
}

.green:hover {
    color: black;
}

.header ul li.links {
    padding: 15px 10px;
}

.header ul li.links i {
    margin: 0 7px;
}

.header ul li.links i:hover {
    color: #aaa;
    transform: scale(1.4);
}

/* end header */

/* satrt landing */
.landing {
    background-color: #eee;
    width: 100%;
    padding: 100px 0 0;
}

@media (min-width: 992px) {
    .landing {
        width: calc(100% - 300px);
        margin-left: auto;
        padding: 20px 0 0;
    }
}


@media (min-width: 992px) {
    button {
        display: none;
    }
}

.landing h1 {
    font-size: 30px;
    font-weight: 500;
    margin: 10px 10px 28px;
}

.landing span {
    padding: 10px 5px;
    background-color: transparent;
    margin-left: 10px;
}

.landing .links {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.landing ul {
    margin: 0 10px;
    display: flex;
}

.landing ul li a {
    padding: 10px 15px;
    background-color: white;
    margin: 0 2px;
    display: inline-block;
}

.landing ul li a:hover {
    background-color: #ddd;
}

.landing ul li:first-child a {
    background-color: black;
    color: #fff;
}

.landing ul li:first-child a:hover {
    background-color: #ddd;
    color: black;
}

.landing ul li.ro {
    display: none;
}

.landing ul li.ro i {
    margin: 0 5px;
}

@media (min-width: 992px) {
    .landing ul li.ro {
        display: block;
    }
}

.landing hr {
    margin: 0px auto;
    width: 98%;
    height: 5px;
    border: none;
    background-color: #ccc;
}

/* gallory */

.landing .gallory {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    gap: 20px;
    padding: 5px 10px;
}

.landing .gallory .gall {
    background-color: white;
}

.landing .gallory .gall img {
    width: 100%;
}

.landing .gallory .gall img:hover {
    opacity: 0.5;
}

.landing .gallory .gall .text {
    padding: 15px 10px;
}

.landing .gallory .gall .text h6 {
    font-size: 17px;
    font-weight: 600;
    margin: 0 0 15px;
}

.landing .gallory .gall .text p {
    left: 1.5;
    color: #555;
}

/* end gallory */

#links {
    margin: 35px 0;
    position: relative;
}

#links ul {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#links ul li {
    padding: 10px 15px;
    margin: 0 5px;
}

#links ul li:hover {
    background-color: black;
    color: white;
}

#links ul li:nth-child(2) {
    background-color: black;
    color: white;
}

#links ul li:nth-child(2):hover {
    background-color: #ccc;
    color: black;
}

/* start about */

.about {
    padding: 100px 0 20px;
    margin: 20px 10px;
}

.about .about-photo {
    display: flex;
    flex-wrap: wrap;
}



.about .about-photo img {
    max-width: 95%;
    height: 250px;
    margin: 0 auto;
}

.about .about-photo img:first-child {
    margin-bottom: 10px;
}

@media (min-width: 768px) {
    .about .about-photo {
        justify-content: space-evenly;
    }

    .about .about-photo img {
        flex-basis: 48%;
    }
}

.about .text {
    padding: 10px 10px;
}

@media (min-width: 992px) {
    .about .text {
        padding: 10px 15px;
    }
}

.about .text h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

.about .text p {
    line-height: 1.5;
    font-size: 15px;
    color: #555;
}

/* end about */

/* tec */

.tec {
    padding: 10px 15px;
}

.tec h4 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.tec .te {
    width: 95%;
    padding: 10px 0;
    margin: 10px 0;
}

.tec .te p {
    font-size: 17px;
    color: #333;
    margin-bottom: 10px;
}

.tec .te .cv {
    width: 100%;
    background-color: #aaa;
    position: relative;
}

.tec .te .cv span {
    display: block;
    padding: 18px;
    background-color: #555;
    position: relative;
    left: -10px;
}

.tec .te .cv span::after {
    content: attr(data-pr);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.tec a {
    display: inline-block;
    margin: 5px 0;
    padding: 7px 10px;
    color: #fff;
    background-color: #555;
    font-size: 20px;
}

.tec a:hover {
    background-color: #bbb;
    color: black;
}

/*  */

.how {
    padding: 20px 0;
}

.how h4 {
    margin: 20px 10px;
    font-size: 20px;
}

.how .prix-holder {
    padding: 0 10px;
    display: flex;
    flex-wrap: wrap;
}

.how .prix-holder .prix {
    flex-basis: 90%;
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    justify-content: center;
    align-items: center;
    border: 0.5px solid #ccc;
    opacity: 0.9;
}

@media (min-width: 500px) {
    .how .prix-holder .prix {
        flex-basis: 45%;
    }
}

@media (min-width: 768px) {
    .how .prix-holder .prix {
        flex-basis: 32%;
    }
}

/* @media (min-width: 992px) {
    .how .prix-holder .prix {
        flex-basis: 32%;
    }
} */




.how .prix-holder .prix h1 {
    font-size: 25px;
    padding: 30px 20px;
    background-color: #777;
    width: 100%;
    /* padding: 20px; */
    text-align: center;
    margin: 0;
    color: white;
}

#mid {
    background-color: #009688;
}

.how .prix-holder .prix ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: white;
}

.how .prix-holder .prix ul li {
    color: #555;
    border-bottom: 0.5px solid #ccc;
    display: block;
    width: 100%;
    padding: 20px;
    text-align: center;
}

.how .prix-holder .prix ul li:nth-child(5) {
    font-size: 30px;
}

.how .prix-holder .prix ul li span {
    display: block;
    padding: 0;
    font-size: 14px;
    background-color: transparent;
    margin-top: 20px;
    color: #555;
}

.how .prix-holder .prix a {
    padding: 15px;
    font-size: 20px;
    margin: 20px auto;
    background-color: #009688;
    color: white;
}

.how .prix-holder .prix:hover {
    opacity: 1;
}

.how .prix-holder .prix:hover h1 {
    background-color: #000;
}

.how .prix-holder .prix:hover ul li {
    color: black;
}

.how .prix-holder .prix:hover #mid {
    background-color: #000;
}

.how .prix-holder .prix a:hover {
    background-color: #000;
}

/*  */

.contact {
    padding: 30px 10px;
    background-color: #999;
}

.contact h1 {
    font-size: 25px;
}

.contact .contact-i {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contact .contact-i .i {
    background-color: #555;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 30px;
}

.contact .contact-i .i:nth-child(2) {
    background-color: #009688;
}




@media (min-width: 500px) {
    .contact .contact-i .i {
        width: 32%;
    }
}

.contact .contact-i .i i {
    font-size: 35px;
    color: #ddd;
    margin-bottom: 15px;
}

.contact .contact-i .i p {
    display: block;
    color: #ddd;
    font-size: 17px;
}

.contact hr {
    height: 0.5px;
    margin: 40px auto;
    color: #f1f1f1;
}

.contact form {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    padding: 0 10px;
}

.contact form label {
    font-size: 18px;
    margin: 5px 0;
}

.contact form input {
    padding: 5px;
    width: 100%;
}

.contact a {
    background-color: black;
    color: #eee;
    display: inline-block;
    margin: 20px 10px;
    padding: 10px 20px;
}

.contact a:hover {
    background-color: #eee;
    color: #000;
}

/*  */

.footer {
    display: grid;
    padding: 30px 15px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    background-color: #666;
}

.footer h4 {
    font-size: 20px;
    margin-bottom: 20px;
    color: #eee;
}

.footer .foot:nth-child(1) {
    color: #eee;
}

/* .footer .foot:nth-child(1) h4 {
    font-size: 20px;
    margin-bottom: 20px;
} */

.footer .foot:nth-child(1) p {
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 1.5;
}

.footer .foot:nth-child(1) p span {
    background-color: transparent;
    text-decoration: underline;
    margin-left: 0;
}

.footer .foot:nth-child(1) p span sub {
    font-size: 16px;
}

.footer .foot:nth-child(2) {
    color: #eee;
}

/* .footer .foot:nth-child(2) h4 {
    font-size: 20px;
    margin-bottom: 20px;
} */

.footer .foot:nth-child(2) .fo {
    display: flex;
    align-items: center;
}

.footer .foot:nth-child(2) .fo:hover {
    background-color: #aaa;
}

.footer .ph {
    flex-basis: 30%;

}

.footer img {
    width: 55%;
    margin: 20px;
}

.footer .txt {
    display: flex;
    flex-direction: column;
}

.footer .txt h5 {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
}

.footer .txt p {
    font-size: 14px;
}


.footer hr {
    height: 0.5px;
    width: 95%;
    margin: 0 auto;
}

.footer .foot:nth-child(3) span {
    padding: 3px;
    display: inline-block;
    margin: 3px 5px;
    font-size: 14px;
    color: #222;
    background-color: #aaa;
}

.footer .foot:nth-child(3) span:first-child {
    background-color: #000;
    color: #eee;
}

.last-thigs {
    background-color: #000;
    color: white;
    padding: 20px;
    text-align: center;
}



/* end landing */
button {
    position: absolute;
    top: 15px;
    left: 0px;
    z-index: 2;
    background-color: transparent;
    border: none;
    padding: 10px 13px;
}

button:hover {
    background-color: #ddd;
}




button i {
    font-size: 35px;
}

button:focus+.header {
    transform: translateX(0%);
}

.me {
    position: absolute;
    right: 10px;
    top: 15px;
    width: 70px;
}

@media (min-width: 992px) {
    .me {
        display: none;
    }
}

.me img {
    width: 100%;
    border-radius: 50%;
}